<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Caching" type="ShangYe.FrameWork.Section.CachingSection,ShangYe.FrameWork" />
  </configSections>
  <connectionStrings>
    <!--<add name="ConnStrings" connectionString="server=SY\SQL2008;uid=sa;pwd=2008;database=Aps;"  providerName="Dos.ORM.SqlServer9" />-->
    <add name="ConnStrings" connectionString="server=WIN-01609252351\SQLEXPRESS2008;uid=sa;pwd=sql2008;database=Aps;"  providerName="Dos.ORM.SqlServer9" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="500" requestValidationMode="2.0" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <sessionState mode="InProc"  cookieless="false" timeout="20" />
    <httpHandlers>
      <add path="Article.axd" verb="*" type="CommonClass.Requires.Article" validate="false"/>
      <add path="test.axd" verb="*" type="CommonClass.Requires.test" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="Article" path="Article.axd" verb="*" type="CommonClass.Requires.Article" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="test" path="test.axd" verb="*" type="CommonClass.Requires.test" resourceType="Unspecified" preCondition="integratedMode"/>

    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
